<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <title>Hello!</title>
</head>
<body style="padding: 0">
<% include partials/navbar.ejs %>
<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center display-4">Your metrics</h4><br>
        <canvas id="myChart" width="500" height="300"></canvas>
    </div>
    <div class="col-md-6">
        <h1 class="text-center display-4" style="margin-top: 15vh">New metric</h1><br>
        <form method="post" action="/metrics">
            <div class="form-group row justify-content-md-center">
                <label for="inputValue" class="col-sm-2 col-form-label">Metric value</label>
                <input hidden type="text" id="inputUsername" name="username" value="<%= username%>">
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="inputValue" name="value">
                </div>
                <button type="submit" class="col-sm-2 btn btn-primary mb-2">Submit</button>
            </div>
        </form>
            <div class="form-group row justify-content-md-center">
                <div class="col-md-3 align-content-center">
                    <button id="show-metrics" type="button" class="btn btn-link">Display</button>
                    <button type="input" class="btn btn-danger" onclick="deleteMetric()">Delete metrics</button>
                </div>
            </div>
    </div>
</div>
</body>
<script>

    var metricsArr;

    $(document).ready(() => {
        fetchData();
    });

    $('#show-metrics').click(() => {
        startGraph();
    });

    function startGraph() {

        var labelsArray = [];
        var valuesArray = [];
        var backgroundColorsArray = [];
        var borderColorsArray = [];

        metricsArr.forEach((item) => {
            var date = new Date(item.timestamp);
            labelsArray.push(date.toString());
            valuesArray.push(item.value);
            backgroundColorsArray.push('#5c9834');
            borderColorsArray.push('#275618');
        });

        var ctx = $('#myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelsArray,
                datasets: [{
                    label: "",
                    data: valuesArray,
                    backgroundColor: backgroundColorsArray,
                    borderColor: borderColorsArray,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                maintainAspectRatio : true
            }
        });
    };

    function fetchData() {
        metricsArr = [];
        var un = "<%= username%>";
        $.getJSON("/metrics", {"username" : un}, (data, error) => {
            data.map(d => {
                metricsArr.push({
                    "timestamp" : parseInt(d.timestamp),
                    "value" : d.value
                });
            })
        });
    }

    function deleteMetric() {
        var un = "<%= username%>"
        $.ajax({
            url: '/metrics',
            type: 'DELETE',
            data: {username: un},
            success: function(response) {
                fetchData();
            }
        });
    }
</script>
</html>