<nav class="navbar navbar-primary bg-primary">
    <a class="navbar-brand text-white font-weight-bold">Hello <%= username%>!</a>
    <form class="form-inline" method="get" action="/logout">
        <input class="btn btn-danger my-2 my-sm-0" type="submit" value="Log out">
    </form>
</nav>