@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

$primary : #4f439e;
$link : #5e9d39;
$font-family-sans-serif : 'Raleway';

@import "./_customVariables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";